/* global */
* {
  accent-color: #a2e644;
}
html,
body {
  background: #fff;
  overflow-x: clip;
}

/* header */
.navbar-toggle {
  background-color: #74ad23 !important;
  margin-right: 0;
  margin-top: 8px;
}
.container:has(#topbar) {
  margin-bottom: 16px;
}
ul#tools {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #a2e644, #517420);
  padding: 15px 0;
  gap: 10px;
  z-index: 1;
  min-height: 42px;
}
ul#topMenu::before,
ul#tools::before {
  position: absolute;
  top: 0;
  left: -50vw;
  width: 200vw;
  height: 100%;
  content: "";
  display: block;
  background: linear-gradient(to right, #a2e644, #517420);
  z-index: -1;
}
ul#tools li {
  margin: 0;
  border-right: 1px solid #fff;
  padding: 0 12px 0 2px;
}
ul#tools li a {
  color: #fff;
  font-size: 10px;
}
ul#topMenu li a {
  color: #fff;
  font-size: 12px;
}
ul#tools li a:hover,
ul#topMenu li a:hover {
  color: #000000;
  text-decoration: none;
}
a#logo {
  margin: 13px 0;
}
a#logo img {
  width: 140px;
  height: auto;
}
div#searchBox {
  padding: 4px 0 0 0;
}
div#searchBox a {
  padding: 0 12px 0 0;
  font-size: 11px;
  background: url(../img/arrow.png) 100% 3px no-repeat;
  background-size: 5px;
  margin: 4px 4px 0 0;
}
div#contactBox a {
  font-size: 14px;
}
div#contactBox .cart img {
  width: 40px;
  height: auto;
}
div#contactBox {
  float: unset;
  padding: 20px 0 0 0;
}
div#contactBox .col-left {
  padding-top: 10px;
}
div#contactBox .col-right {
  padding-left: 64px;
}
ul#topMenu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: linear-gradient(to right, #a2e644, #517420);
  margin: 0;
  z-index: 1;
}
ul#topMenu li a:hover,
ul#topMenu li.active a,
ul#topMenu li a {
  border-bottom: 0 !important;
}
ul#topMenu li a {
  padding: 0;
}
ul#topMenu li {
  padding: 15px 0;
}
ul#topMenu li.eko a:hover span,
ul#topMenu li.eko.active a span,
ul#topMenu li a span {
  display: none !important;
}
ul#topMenu li:first-child a {
  padding: 0;
}
.navbar-nav > li > a {
  color: #74ad23;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px !important;
  margin: 4px 0;
}
.navbar-nav > li:last-of-type > a {
  border-bottom: 0;
}

/* slider */
.flexslider {
  margin: 9px 0 25px 0;
  border: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 6px 0px rgba(0, 0, 0, 0.06), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

/* markowe lists */
#mainCol #markowe section .row .firm article {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 6px 0px rgba(0, 0, 0, 0.06), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 16px;
  box-sizing: border-box;
}
#mainCol #markowe .firm {
  min-height: 200px !important;
}
#mainCol #markowe .firm h2 {
  border-bottom: 2px solid #517420;
  font-weight: 700;
}
#mainCol #markowe .firm h2 a {
  color: #517420;
}
#mainCol #markowe .firm h2 a:hover {
  color: #000000;
}
#mainCol #markowe .firm li {
  border-bottom: 1px solid #a2e644;
}
#mainCol #markowe .firm li a:hover {
  color: #000000;
  text-decoration: none;
}
#mainCol #markowe .firm li:last-of-type {
  border-bottom: 0;
}

/* contact form */
#mainCol .container:has(#contactform) h3 {
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  z-index: 1;
}
#mainCol .container:has(#contactform) {
  position: relative;
  padding: 40px 0;
  margin-top: 24px;
}
#mainCol .container:has(#contactform)::before {
  position: absolute;
  top: 0;
  left: -50vw;
  width: 200vw;
  height: 100%;
  content: "";
  display: block;
  background-color: #f7f7f7;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  z-index: 0;
}
#mainCol .container:has(#contactform) .form label {
  color: #000;
}
#mainCol .form .contactSend {
  max-width: 200px;
  background-color: #74ad23;
  border: 1px solid #74ad23;
}
#mainCol .form .contactSend:hover {
  color: #74ad23;
}
div#rodo2 input#contact_re {
  width: 120px;
}
@media (min-width: 768px) {
  #mainCol .form .col-sm-offset-6 {
    margin-left: 60%;
  }
}

/* Counter */
@media (max-width: 767px) {
  .counter-container {
    margin: 20px 0;
  }
}

/* Clients carousel & Trust us section */
.container:has(.jcarousel-skin-clients) {
  position: relative;
  padding: 40px 0;
}
.container:has(.jcarousel-skin-clients)::before {
  position: absolute;
  top: 0;
  left: -50vw;
  width: 200vw;
  height: 100%;
  content: "";
  display: block;
  background-color: #f7f7f7;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  z-index: 0;
}
#markoweProd h3 {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  text-transform: none;
}
.jcarousel-skin-clients {
  border-top: 0;
  border-bottom: 0;
}

/* Footer */
#footer {
  background: #222;
}
#footer * {
  color: #ffffff;
}
.footer-nav h3 {
  font-weight: 700;
  color: #74ad23;
  text-decoration: underline;
  text-decoration-color: #74ad23;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  margin-bottom: 16px;
}
#footer a:hover,
.footer-nav ul li a:hover {
  color: #74ad23 !important;
  text-decoration: none;
}

/* product list */
#mainCol .productList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#mainCol .productList .shortProd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 6px 0px rgba(0, 0, 0, 0.06), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  margin: 0;
  width: calc(25% - 8px);
}
@media (max-width: 1000px) {
  #mainCol .productList .shortProd {
    width: 30%;
  }
}
@media (max-width: 620px) {
  #mainCol .productList .shortProd {
    width: 49%;
  }
}
@media (max-width: 466px) {
  #mainCol .productList .shortProd {
    width: 100%;
  }
}
#mainCol .productList .shortProd h2 {
  border-bottom: 0;
}

/* category */
a {
  color: #74ad23;
}
#rightCol #menu li.active a,
#rightCol #menu li a:hover,
#mainCol .form label,
.spagination li.selected,
.spagination a:hover,
.spagination a:focus,
article div.info a,
article div.info a img,
#rightCol #menu li li.active-submenu a,
#mainCol #product .calc th {
  color: #74ad23 !important;
}
.btn-primary {
  background-color: #74ad23 !important;
}
#mainCol #product .calc td,
#mainCol #product .calc th span {
  border-color: #f7f7f7;
}
.prod article a.more-button {
  color: #fff !important;
  border: 1px solid #74ad23;
}
.prod article a.more-button:hover {
  color: #74ad23 !important;
}
section#search-form div.one-last input {
  background-color: #74ad23;
  border-color: #74ad23;
  color: #ffffff;
}
section#search-form div.one-last input:hover {
  background-color: #ffffff;
  color: #74ad23;
}
.spagination-out a.showall {
  padding: 4px 6px;
  background-color: #74ad23;
  border: 1px solid #74ad23;
  color: #ffffff;
  margin-top: -8px;
}
.spagination-out a.showall:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #74ad23;
}
#mainCol #products .prod article {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 6px 0px rgba(0, 0, 0, 0.06), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

/* Cart */
table th,
table td,
table tr,
#mainCol #cart table th {
  border-color: #e1e1e1 !important;
}
#mainCol #cart table th {
  background-color: #9e9e9e !important;
  padding: 0;
}
.data-table {
  margin-bottom: 10px;
}

/* Product page */
#mainCol #product .img .main img,
#mainCol #product .img .sub img {
  border: 1px solid #e1e1e1;
  padding: 16px;
}
#mainCol #product .prodDesc .desc {
  padding-top: 16px;
  margin-top: 0;
  border-top: 1px solid #e1e1e1;
}
#mainCol a.noPrice {
  width: fit-content;
}
#mainCol #breadcrumb a,
#mainCol #breadcrumb .selected {
  font-size: 12px;
  text-transform: none;
}
#mainCol #product .img .main img:hover,
#mainCol #product .img .sub img:hover {
  opacity: 0.78;
}

/* contact page */
#contactPage {
  margin: 0 16px;
}
#mainCol .container:has(#contactPage) {
  padding: 0;
  margin-top: 0;
}
#mainCol .container:has(#contactPage)::before {
  display: none;
}
#map p {
  margin: 16px;
}
@media (min-width: 768px) {
  #map:has(#contactform) {
    position: relative;
    padding: 40px 0;
    margin-top: 24px;
  }
  #map:has(#contactform)::before {
    position: absolute;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    content: "";
    display: block;
    background-color: #f7f7f7;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    z-index: 0;
  }
}

/* breakpoints */
@media (max-width: 767px) {
  .logo-mobile img {
    height: 30px !important;
    width: auto;
  }
  div#topbar {
    padding-bottom: 0 !important;
  }
  .logo-mobile {
    margin: 11px 0 0 0 !important;
  }
  div#searchBox {
    position: relative;
    margin-top: 40px !important;
  }
  div#contactBox {
    position: relative;
    margin-top: 0px !important;
  }
  .col-xs-6:has(#searchBox),
  .col-xs-6:has(#searchBox) .col-xs-9,
  div#searchBox form input {
    width: 100% !important;
  }
  div#searchBox button {
    position: relative;
    top: -36px;
    left: 460%;
    margin: 0 !important;
  }
  div#searchBox a {
    position: absolute;
    top: -28px;
    right: 16px;
  }
  div#contactBox .col-right {
    position: fixed;
    top: 10px;
    left: 210px;
    z-index: 9999;
  }
  div#contactBox .cart img {
    width: 32px;
    height: auto;
  }
  div#contactBox .col-left {
    position: relative;
    top: -60px;
    left: 26px;
  }
  div#contactBox a {
    font-size: 13px !important;
    margin: 0 !important;
  }
  ul#topMenu {
    display: inline-block;
    margin-top: -58px;
    padding-top: 10px;
    margin-bottom: -10px;
  }
  ul#topMenu li a {
    border: 1px solid white !important;
  }
  #mainCol #breadcrumb {
    margin: 0 0 12px 0;
  }
  #mainCol #breadcrumb a {
    font-size: 12px;
  }
  #mainCol #products h1 {
    margin-top: 10px;
    font-size: 26px;
    margin-left: 16px;
    margin-bottom: 0;
  }
  .row:has(#search-form) {
    margin-left: 0;
  }
  #mainCol #products {
    margin-left: -32px;
  }
  #mainCol #products .prod,
  #mainCol #products .prod article {
    height: auto !important;
    min-height: 360px;
    margin: 0 0 10px 0 !important;
  }
  @media (max-width: 768px) {
    #mainCol #products .prod,
    #mainCol #products .prod article {
      min-height: 360px;
    }
  }
  .footer-nav {
    padding: 16px;
  }
  .spagination-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .spagination-out select.sorder,
  .spagination-out a.showall {
    position: relative;
    margin: 16px;
  }
  .spagination-out a.showall {
    display: flex;
    width: max-content;
    margin: 2px;
  }
  .col-xs-12:has(.spagination-out) {
    margin-left: 0;
  }
  ul#topMenu li a:hover,
  ul#topMenu li.active a {
    border: 1px solid #ec018c !important;
    color: #ec018c !important;
    font-weight: bolder !important;
    box-sizing: border-box;
  }
  #mainCol #markowe .firm h2 a {
    font-size: 18px !important;
    margin-top: 10px !important;
  }
  #mainCol #markowe .firm li a {
    font-size: 12px !important;
    padding: 4px 0 2px 4px !important;
  }
  div#markowe div.img img {
    margin: 0;
    width: 80%;
    max-width: 200px;
  }
  #mainCol .form {
    margin: 16px;
  }
  #mainCol #product .img {
    float: left;
    width: 100%;
  }
  #mainCol #product .details ul.tab {
    display: flex;
    margin-top: 24px;
  }
  #mainCol #product .details {
    overflow-x: scroll;
    width: 100%;
    padding: 0 0 24px 0;
  }
  #mainCol #product .prodDesc h1 {
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid #a2e644;
    border-bottom: 1px solid#a2e644;
    margin-bottom: 12px;
  }
  #mainCol #product .prodDesc .price.tbold.tpink {
    font-size: 22px;
  }
  .footer-nav ul a {
    font-size: 12px;
    margin: 4px 0;
  }
}
